@model PRIS.Models.Language

<table class="table" style="padding-bottom:50px">
    <tr>
        <td style="width:50%">Language</td> 
        <td style="width:50%">@Html.DisplayFor(x => x.LanguageLearned, new { htmlAttributes = new { @class = "form-control a" } })</td>
    </tr>
</table>