@model PRIS.Models.WorkingExperience

<table class="table" style="padding-bottom:50px">
    <tr>
        <td style="width:50%">Experiences</td>
        <td style="width:50%">@Html.DisplayFor(x => x.WorkingExp, new { htmlAttributes = new { @class = "form-control a" } })</td>
    </tr>
</table>