@model PRIS.Models.Company

@{
    ViewBag.Title = "Main";
}

<h2>Main</h2>

@Html.ActionLink("Sign Up", "Create")<br />
@Html.ActionLink("Log In", "Login")<br />
@Html.ActionLink("Jobseeker", "Menu", "Login")
