
@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>

@Html.ActionLink("Sign In", "Index")<br />
@Html.ActionLink("Sign Up", "Create", "Jobseekers")
<br />
@Html.ActionLink("Employer", "Main", "Companies")<br />