@model PRIS.Data.States
@{
    ViewBag.Title = "ChoosenDropDown";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChoosenDropDown</h2>

@Html.LabelFor(model => model.PreferredLocation, htmlAttributes: new { @class = "control-label" })
@Html.DropDownListFor(m => m.State,
Model.GetStateList.Select(x => new SelectListItem { Text = x.States.ToString() }), new { @class = "form-control chosen-select" })

@Html.ValidationMessageFor(model => model.PreferredLocation, "", new { @class = "text-danger" })

