@model PRIS.Models.Jobseeker

@{
    Layout = null;
    ViewBag.Title = "JobseekerPageTwo";
}

@Html.ValidationSummary(true)
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="~/Scripts/JobseekerSignUp/JavaScript.js"></script>
<link href="~/Scripts/JobseekerSignUp/StyleSheet1.css" rel="stylesheet" />
<script src="~/Content/CustomJS.js"></script>

<div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Real/EmployerMainPage">Home</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="~/Real/JobseekerPageTwo"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="~/Real/JobseekerLogin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="head" style="width:90%; margin:auto">
    <h1><stong>Jobseeker Sign Up</stong></h1>
</div>

@using (Html.BeginForm("JobseekerPageTwo", "Real", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.EditorForModel()
    <p>
        <div style="text-align:center; padding-bottom:30px">
            <input type="submit" class="btn btn-primary" value="Create" />

        </div>
    </p>
}
