@model PRIS.Models.Jobseeker
@{
    Layout = null;
    ViewBag.Title = "JobseekerHeader";
}


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">PRIS</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="#">My Profile</a></li>
                    <li><a href="#">Job Search</a></li>
                    <li><a href="#">Job Application</a></li>
                    <li><a href="#">Saved Jobs</a></li>
                    <li><a href="#">Psychometric Test</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span>@Html.DisplayFor(model => model.Name)<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                           
                            
                            <li><a href="#">Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

